@page "/emotionlogs/details"
@using Microsoft.EntityFrameworkCore
@using NutrifyTest1.Components.Domain
@inject IDbContextFactory<NutrifyTest1.Data.NutrifyTest1Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>EmotionLog</h2>
    <hr />
    @if (emotionlog is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Date</dt>
            <dd class="col-sm-10">@emotionlog.Date</dd>
            <dt class="col-sm-2">Time</dt>
            <dd class="col-sm-10">@emotionlog.Time</dd>
            <dt class="col-sm-2">Emotion</dt>
            <dd class="col-sm-10">@emotionlog.Emotion</dd>
            <dt class="col-sm-2">UserID</dt>
            <dd class="col-sm-10">@emotionlog.UserID</dd>
            <dt class="col-sm-2">RecipeID</dt>
            <dd class="col-sm-10">@emotionlog.RecipeID</dd>
        </dl>
        <div>
            <a href="@($"/emotionlogs/edit?emotionlogid={emotionlog.EmotionLogID}")">Edit</a> |
            <a href="@($"/emotionlogs")">Back to List</a>
        </div>
    }
</div>

@code {
    private EmotionLog? emotionlog;

    [SupplyParameterFromQuery]
    private int EmotionLogID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        emotionlog = await context.EmotionLog.FirstOrDefaultAsync(m => m.EmotionLogID == EmotionLogID);

        if (emotionlog is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
